/*Inicio Stylo do header*/
body{
    font-family: teko, sans-serif;
}
header{
    background-color: #FFBD59;
}
.caixa {
    position: relative;
    width: 940px;
    margin: auto;
}
body{
    background:white;    
}
#imagem_logo{
    width: 45%;
    padding: 1em;
}
nav {
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li {
    display: inline;
    margin-left: 15px;
    
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
/*Final Stylo do header*/

/*Inicio Stylo do main*/
footer{
    text-align: center;
    margin: 120px 0 0;
    background-color:#545454;

}
.copyright{
    color: white;
    font-size: 15px;
    margin: 5px 0 0 ;
}

form{
    width: 940px;
    margin: 50px auto;
    background: #fefefe;

    
}
form label, form legend {
    display: block;
    font-size: 20px;
    width: 940px;
    margin:0 auto; 
    line-height: 1.5; 

}
form legend{
    font-size: bold;
}

.input_padrao{
    display: block;
    margin: 0 0 ;
    padding: 10px 25px;
    width: 50%;
    
    
}
.checkbox{
    margin: 30px  0;
}
.enviar{
    width: 30%;
    padding: 15px 0;
    font-family: teko;
    font-size: 20px;
    background: orange;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.1);
}
table{
    margin: 20px 204.50px;
    font-family: teko;
    font-size: 20px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;  
}
td,th{
    border:1px solid #000000;
    padding: 8px 10px;
}
/* Css da página inicial */

/* Animação do form */
form,
table,
nav,
#imagem_logo,
#imagem_logo_footer{
    animation-name: fade;
    animation-duration: 0.7s;
}
@keyframes fade {
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
